<div title="About" selected="true">
  <p>caltrain.app is neither associated nor endorsed by <a href="http://caltrain.com" target="_self">CalTrain</a>, but is the creation of <a href="http://overstimulate.com" target="_self">Jesse Andrews</a>.</p>
  <p>TODO:</p>
  <ul>
    <li>on travel between two stations, show only future stops (with a button to show all stops)</li>
    <li><strike>show saturday only on weekend</strike></li>
    <li>add trains section</li>
    <li>make app bookmark friendly, and front url shouldn't use anchor</li>
    <li><strike>add ability to reverse the stops to see schedule in other direction</strike></li>
    <li>move from iUI to a ui that better suits this use-case</li>
  </ul>
</div>