<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>caltrain.app</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="author" content="Jesse Andrews" />
  <meta name="Copyright" content="Copyright (c) 2007 Jesse Andrews" />
  <meta name="keywords" content="caltrain, iphone, san francisco, bay area, timetable" />
  <meta name="description" content="A better CalTrain timetable for the iPhone" />
  <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  <style type="text/css" media="screen">@import "iui/iuix.css";</style>
  <style type="text/css" media="screen">@import "custom.css";</style>
</head>

<body>
  <div class="toolbar">
    <h1 id="pageTitle"></h1>
    <a id="backButton" class="button" href="#"></a>
  </div>
    
  <ul title="caltrain.app" selected="true">
    <li><a href="weekdays.html">Weekday Travel</a></li>
    <li><a href="weekends.html">Weekend Travel</a></li>
    <li><a href="stations.html">Stations</a></li>
    <li><a href="about.html">About</a></li>
  </ul>
  <script type="application/x-javascript" src="iui/iuix.js"></script>
  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
  <script type="text/javascript"> _uacct = "UA-50927-7"; urchinTracker(); </script>
</body>
</html>
